name: CI

on:
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: Build Solution
        run: echo Build Done
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Build Solution
        run: echo Deploy Done
